<!DOCTYPE html>
<html>

<head>
    <title>Flask Form Example</title>
</head>

<body>

    <h1>User Input Example</h1>

    <form method="POST">

        <label>Enter Your ID:</label>

        <input
            type="number, Text, Simbols"
            name="userID"
            required>

        <button type="submit">
            Submit
        </button>

        <button type="Clear">
            Clear
        </button>

        <button type="Back">
            Back
        </button>

    </form>

    <br>

    <h2>{{ message }}</h2>

</body>

</html>